node_modules
.idea
*.iml

.DS_Store

src/IceMX.ns.d.ts
src/Ice/*
!src/Ice/AsyncResult.d.ts
!src/Ice/AsyncResultBase.d.ts
!src/Ice/Communicator.d.ts
!src/Ice/ConnectionI.d.ts
!src/Ice/EnumBase.d.ts
!src/Ice/Exception.d.ts
!src/Ice/HashMap.d.ts
!src/Ice/Ice.d.ts
!src/Ice/IdentityUtil.d.ts
!src/Ice/Initialize.d.ts
!src/Ice/Logger.d.ts
!src/Ice/Long.d.ts
!src/Ice/Object.d.ts
!src/Ice/ObjectAdapterI.d.ts
!src/Ice/ObjectPrx.d.ts
!src/Ice/Operation.d.ts
!src/Ice/Promise.d.ts
!src/Ice/Properties.d.ts
!src/Ice/Struct.d.ts
!src/Ice/UUID.d.ts
!src/Ice/UnknownSlicedValue.d.ts
!src/Ice/Value.d.ts

src/Glacier2/*
!src/Glacier2/Glacier2.d.ts

src/IceGrid/*
!src/IceGrid/IceGrid.d.ts

src/IceStorm/*
src/IceSSL/*